<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" class="ime" placeholder="Име">
    <input type="text" class="prezime" placeholder="Презиме">
    <input type="text" class="email" placeholder="Email">
    <input type="password" class="password1" placeholder="Password">
    <input type="password" class="password2" placeholder="Password">
    

    <button id="submit">Submit</button>
</body>
</html>